doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-rim-auto-match" content="none") 
    meta(name="format-detection" content="telephone=no")
    title 我的簡介


    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet", href="css/style.css")

  body
    article.l-card
      .l-introduction
        .l-introduction__img-mask
          img(src="img/me.jpg", alt="頭像")
        .l-introduction__infor
          span.l-introduction__infor-text.--zh 陳品瑋
          span.l-introduction__infor-text.--en Chen Pin-Wei
        .l-introduction__birth
          span.l-introduction__birth-text.--zh 生日
          span.l-introduction__birth-text.--en 1999.3.25
        .l-introduction__hobby
          span.l-introduction__hobby-title.--zh 興趣
            .l-introduction__hobby-box
              .l-introduction__hobby-wrap.--icon1 籃球
              .l-introduction__hobby-wrap.--icon2 釣魚
              .l-introduction__hobby-wrap.--icon3 煮飯
        .l-introduction__skill
          span.l-introduction__skill-title.--zh 技巧
            .l-introduction__skill-box
              .l-introduction__skill-wrap.--icon2 HTML
              .l-introduction__skill-wrap.--icon3 CSS
      .l-main
        navber.c-nav
          .c-nav__box
            .c-nav__wrap.mypage.--mr 
              span 個人資料
            .c-nav__wrap.port.--mr 
              span 作品
            .c-nav__wrap.about 
              span 關於我
        .l-main__box
          .l-mypage
            .l-mypage__question
              .l-mypage__phone
                span.l-mypage__phone-text 聯絡電話：
              .l-mypage__addr
                span.l-mypage__addr-text 通訊地址：
              .l-mypage__school
                span.l-mypage__school-text 學歷：
            .l-mypage__answer
              .l-mypage__phone
                a(href="tel:+0901183325") 0901183325
              .l-mypage__addr
                span.l-mypage__addr-text 高雄市三民區九如一路239-1號8樓
              .l-mypage__school
                span.l-mypage__school-text 實踐大學資通系
          .l-port
            .l-port__copy
              span.l-port__copy-title 對照官網製作：
              .l-port__copy-box
                .l-port__copy-wrap
                  a(href="https://wade030.github.io/Nintendo/" target="_blank") 
                    i.l-port__copy--mr.fa-solid.fa-circle-chevron-right
                    span Nintendo官網
            .l-port__myself
              span.l-port__myself-title 自己設計及製作：
              .l-port__myself-box
                .l-port__myself-wrap
                  a(href="##") 
                    i.l-port__myself--mr.fa-solid.fa-circle-chevron-right
                    span 個人簡介
          .l-about
      .l-lifeimg
        .l-lifeimg__img-mask.pic1 
          img(src="img/show.jpg", alt="專題展覽")
        .l-lifeimg__img-mask.pic2 
          img(src="img/basketball.jpg", alt="系籃")
        .l-lifeimg__img-mask.pic3 
          img(src="img/university.jpg", alt="大學")















  script(src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous")
  script(src="js/main.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")