doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 我的簡介


    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.css")

  body
    .row 
      .col-12 
        article.c-card
          .c-introduction
            .c-card__img-mask
              img(src="", alt="")
            .c-card__infor
              span.c-card__infor-text.--zh 陳品瑋
              span.c-card__infor-text.--en Chen Pin-Wei
            .c-card__birth
              span.c-card__birth-text.--zh 生日
              span.c-card__birth-text.--en 1999.3.25
            .c-card__hobby
              span.c-card__hobby-title.--zh 興趣
                .c-card__hobby-box
                  .c-card__hobby-wrap.--icon1 籃球
                  .c-card__hobby-wrap.--icon2 釣魚
                  .c-card__hobby-wrap.--icon3 煮飯
            .c-card__skill
              span.c-card__skill-title.--zh 技巧
                .c-card__skill-box
                  .c-card__skill-wrap.--icon2 HTML
                  .c-card__skill-wrap.--icon3 CSS

          
      
















  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")